<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}" />
    <title>Hub Menu</title>
</head>
<body>
	<nav id="nav">
        <a href="/" class="selected">Home</a>
	    <a href="/rot13">Rot 13</a>
	    <a href="/sign_up">Sign Up</a>
	    <a href="/AsciiArt">Ascii Art</a>
		<a href="/pokeball">Pokeball</a>
		<a href="/searchbullet">Search Bullet</a>
        <a href="/updatepushes">Update Pushes</a>
        <a href='/randomeats'>Random Eats</a>
    </nav>
</body>
</html>